@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalização do Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tom de cinza escuro */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1f2937; /* Tom de fundo mais escuro */
  border-radius: 10px;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}


input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverte a cor do ícone */
    opacity: 0.6; /* Ajusta a opacidade */
  }
  
  /* Opcional: Adicionar um efeito de hover */
  input[type="time"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
  }

  /* Aumentar a área da toolbar e mudar a cor dos ícones */
.ql-toolbar {
  background-color: #1a202c; /* Cor de fundo escura */
  border: 1px solid #4a5568; /* Borda mais clara */
}

.ql-toolbar .ql-picker {
  color: #ffffff; /* Cor do texto e ícones */
}

.ql-snow .ql-stroke {
  stroke: #ffffff !important;
}

.ql-snow .ql-fill {
  fill: #ffffff !important;
}

.ql-container {
  border: 1px solid #4a5568;
  border-radius: 0.375rem;
}

.ql-editor {
  background-color: #2d3748; /* Cor de fundo do editor */
  color: #e2e8f0; /* Cor do texto no editor */
  font-size: 1rem;
}

